<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
               
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <img src="assets/layout/images/logo.jpg" alt="Essae logo" class="mb-5 w-6rem flex-shrink-0">        
                    <!-- <img src="https://static.vecteezy.com/system/resources/thumbnails/002/002/403/small/man-with-beard-avatar-character-isolated-icon-free-vector.jpg" alt="Image" height="50" class="mb-3"> -->
                    <div class="text-900 text-3xl font-medium mb-3">Welcome, Back!</div>
                    <span class="text-600 font-medium">Sign in to continue</span>
                </div>

                <div class="login-container" style="text-align: center">
                    <h2>Login</h2>
                    <div class="login-form">
                        <input type="text" pInputText [(ngModel)]="username" placeholder="Username" /><br><br>
                      <!-- <p-inputText [(ngModel)]="username" placeholder="Username"></p-inputText> -->
                      <p-password [(ngModel)]="password" [feedback]="false" placeholder="Password"></p-password><br><br>
                      <button pButton type="button" label="Login" (click)="login()"></button>
                      <div style=" color: red; margin-top: 10px;" *ngIf="errorMessage">{{ errorMessage }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
